body{
    background-color: #fbfdfd;
    font-family: "Interface";
    margin: 0;
}


/*stili sezioni*/

content{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    
    
}
section{
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #000;
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: left;
}


content section:first-of-type{
    border-top: none;
}


.moresection{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    margin-left: 80px;
    
}

.moreelement{
    width: 520px;
    padding-left: 50px;
    padding-right: 50px;
}


span{
    width: 530px;
    padding-left: 100px;
    padding-right: 100px;
}


.work{
    vertical-align: baseline;
    margin-left: 10px;
    margin-left: 10px;
}



footer{
    clear: both; 
}




/*stili testo*/

h1{
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;

}

h2{
    font-size: 24px;
    font-weight: 200; 
    transform: translateX(-50px);

}

p{
    font-size: 24px;
    font-weight: 200;
    line-height: 40px;
}

.aboutsection{
    font-size: 24px;
    font-weight: 200; 
    transform: translateX(-50px);
    margin-bottom: 0;
    
    
}

.worktitle{
    overflow: hidden;
    font-size: 72px;
    font-weight: 200;
    display: inline-block;
    line-height: 94px;
    box-sizing: border-box;
    margin-top:25px;
}

a{
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
    
}
a:hover{
    font-style: italic;
    color: #01a701;
}

sup{
    color: #01a701;
}


.footercredits{
    font-size: 14px;
    font-weight: 200; 
    transform: translateX(-50px);
    color: #01a701;
}