/* @import url('https://rsms.me/inter/inter-ui.css'); */
@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2"),
       url("../fonts/Inter-UI-Regular.woff") format("woff");
}

body{
    background-color: #fbfdfd;
    font-family: 'Inter UI', sans-serif;
    margin: 0;
}

/*stili testo*/

h2{
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

p{
    font-size: 24px;
    line-height: 40px;
}

.worktitle{
    overflow: hidden;
    font-size: 72px;
    line-height: 94px;
    margin-top:25px;
}

a{
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
    
}
a:hover{
    font-style: italic;
    color: #01a701;
}

sup{
    color: #01a701;
}


.footercredits{
    font-size: 14px;
    color: #01a701;
}


/*stili sezioni*/

content {
}

section {
    padding: 4rem 0;
    border-bottom: 1px solid #000000;
}
.info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.info-container div {
    width: 530px;
}

.indented {
    padding-left: 3rem;
}

.moresection{
    padding: 30px;
    margin-left: 80px;
}

.moreelement{
    width: 520px;
    padding-left: 50px;
    padding-right: 50px;
}

.work{
    vertical-align: baseline;
    margin-left: 10px;
    margin-left: 10px;
}
